# Ignore .git directory
.git/
.gitignore

# Ignore build and cache directories
log/*
tmp/*
!log/.keep
!tmp/.keep
storage/*
node_modules/
public/assets/
public/packs/
public/packs-test/
.env

# Ignore docker files from being copied inside themselves
Dockerfile
docker-compose.yml
