# Ignore bundler config
/.bundle

# Ignore all logfiles and tempfiles
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore PID files
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore uploaded files
/storage/*
!/storage/.keep

# Ignore master key for decrypting credentials and more
/config/master.key

# Ignore environment variables
.env

# Node modules
/node_modules

# Yarn
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# Coverage reports (SimpleCov)
coverage/