<header class="site-header">
  <div class="container">
    <div class="brand">
      Student Management System

      <% if user_signed_in? %>
        <small>
          Logged in as:
          <%= current_user.email %>
          (<%= current_user.role %>)
        </small>
      <% end %>
    </div>
  </div>
</header>